<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
{{#if res.success}}
<h1>Password reset was successful!</h1>
{{/if}}
{{#if error}}
<p style="color: orangered;">{{error.data.message}}</p>
{{/if}}
{{#unless hide}}
<h1>Password reset:</h1>
<form action="" method="post">
    <label>Password:</label>
    <input type="password" name="passwordI"/><br/>
    <label>Confirm Password:</label>
    <input type="password" name="passwordII"/><br/>
    <input type="submit" value="Save"/>
</form>
{{/unless}}
</body>
</html>