<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Account verification</title>
</head>
<body>
{{#if error}}
<h1>Account verification failed!</h1>
<p>Please try to resend the verification email</p>
{{else}}
<h1>Your account has been verified!</h1>
{{/if}}
</body>
</html>