plah

<span class="icon nav-arrow no-mobile"></span>
<div class="animated fadeIn padding-v p-20">
    <div class="gr clear no-margin">
        <div class="grid g4 gmp1 no-padding">
            <div class="destinations-block  content-block">
                <h3><p class="link">Europe<span class="mobile-only icon"></span></p></h3>
                <div class="destinations-list clear">
                    <ul class="clear euro-1">
                        <li><a href="/destinations/europe/estonia/">Estonia<span class="mobile-only icon"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid g2 gmp2 no-padding">
            <div class="destinations-block  content-block">
                <h3><p class="link">Asia<span class="mobile-only icon"></span></p></h3>
                <div class="destinations-list clear">
                    <ul class="clear ">
                        <li><a href="/destinations/asia/cambodia/">Cambodia<span class="mobile-only icon"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>    